<footer class="footer">
  <div class="container footer-wrapper">
    <a href="index.html" class="footer__logo">
      <img src="./img/icons/logo.svg" alt="footer-logo">
    </a>
    <a href="index.html" class="footer__logo-mob">
      <img src="./img/icons/logo-mob.svg" alt="footer-mob-logo">
    </a>
    <div class="footer__center">
      <a class="footer__link" href="tel:+79999999999">+7 999 999 99-99</a>
      <a class="footer__link" href="agreement.html">Пользовательское соглашение</a>
      <a class="footer__link" href="politic.html">Политика конфиденциальности</a>
    </div>
    <a href="#" class="footer__skolkovo">Сколково</a>
  </div>
</footer>
